<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsParser2.MySetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmsParser2.MySetting>
            <setting name="LastOpenedFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="BodyColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileNamePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="VietcomFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="NewVietcomFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value />
            </setting>
        </SmsParser2.MySetting>
    </userSettings>
</configuration>